@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.2rem;
  box-shadow: 0px 0px 40px -15px hsl(220, 15%, 55%);
  text-align: center;
  margin-top: 144px;
  padding: 1rem;
  width: 300px;
}

.code {
  border-radius: 0.6rem;
  height: 290px;
  width: 100%;
}
.text {
  margin: 1.2rem;
}

.title {
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.1rem;
}

.instructions {
  color: hsl(220, 15%, 55%);
  font-size: 1rem;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}